body {
    font-size: 12px;
}

.logo {
    width: 240px;
    height: 41px;
    margin-top: 4px;
}

.informations-systen {
    margin-top: 10px;
}

footer {
    border-top: 1px solid rgba(0,0,0, 0.14);
    font-size: 14px;
}

footer p {
    text-align: center;
}

footer #version{
    float: right;
    margin-right: 10px;
    font-weight: bold;
}

.label-jsf {
    margin: 0px 10px 10px 0px;
}